/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

html, body {
    height: 100%;
    position: relative;
}

body {
    background-color: #111;
}

@font-face {
    font-family: 'SourceSansProLight';
    src: url('../fonts/SourceSansPro-Light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#header a, .content, button, #footer a, .actions a {
    font-family: 'SourceSansProLight', sans-serif;
}

a {
    color: #555;
    text-decoration: none;
}

#header {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 2;
}

#header a {
    background-color: rgba(37, 37, 37, 0.8);
    color: #fff;
    float: left;
    font-size: 25px;
    height: 35px;
    margin-right: 5px;
    outline: none;
    padding: 8px 10px 3px;
    text-align: center;
    width: 30px;
}

#header a.sub {
    font-size: 45px;
    line-height: 30px;
}

#header a.mini {
    font-size: 17px;
    width: 65px;
}

#header a:hover, .pagination a:hover {
    background-color: #eee;
    color: #111;
}

#wrapper {
    height: 100%;
    position: relative;
}

.container, .form {
    clear: both;
    margin: 10px auto 0 auto;
    max-width: 1240px;
}

.inner-container {
    float: left;
    margin-bottom: 70px;
    width: 100%;
}

.form {
    max-width: 700px;
    padding: 0 10px;
}

.content-container {
    margin: 0 auto;
    text-align: center;
    width: 800px;
}

textarea {
    height: 100px;
    width: 97%;
}

.messages {
    margin-bottom: 30px;
    text-align: center;
}

article {
    clear: both;
    display: inline-block;
    float: left;
    font-family: Arial, sans-serif;
    font-size: 20px;
    margin-top: 20px;
    position: relative;
    width: 100%;
}

p {
    color: #aaa;
    float: left;
    font-size: 18px;
    line-height: 23px;
    padding: 5px 0;
    text-align: left;
    text-overflow: ellipsis;
}

.messages img {
    width: 100%;
}

form {
    color: #eee;
}

body[data-page="post"] .content-container {
    padding: 0;
    width: 100%;
}

.messages {
    margin: 0 auto;
    max-width: 800px;
}

body[data-page="post"] .messages .links:not(:empty) {
    height: 100%;
}

.location {
    background-image: url('../images/location.svg');
    background-position: 5px;
    background-repeat: no-repeat;
    bottom: 0;
    display: inline-block;
    height: 35px;
    left: -5px;
    padding: 3px 0 3px 3px;
    position: absolute;
    width: 35px;
}

.location:hover {
    background-color: #fff;
}

input[type="text"], textarea {
    clear: both;
    display: block;
    float: left;
    margin-bottom: 5px;
    width: 100%;
}

input, textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #222;
    border: 0;
    color: #eee;
    font-family: Arial, sans-serif;
    font-size: 16px;
    padding: 10px;
}

input[type="file"] {
    margin-bottom: 5px;
}

label {
    clear: both;
    float: left;
    font-size: 20px;
    margin-top: 5px;
    width: 100%;
}

button {
    background-color: #28c6f4;
    border: 0;
    border-radius: 5px;
    color: #222;
    cursor: pointer;
    font-size: 22px;
    line-height: 22px;
    margin: 5px 0;
    padding: 5px 10px 3px;
}

form {
    display: block;
    float: left;
    margin: 15px 0;
    width: 100%;
}

form button {
    float: right;
}

article.private {
    background-color: #c9dee1;
}

ul.links li {
    height: 100%;
    overflow: hidden;
}

ul.links a {
    color: #28c6f4;
}

.actions {
    bottom: 3px;
    position: absolute;
    right: -2px;
}

ul.manage {
    display: block;
    margin-bottom: 50px;
}

ul.manage li {
    background-color: #eee;
    margin-bottom: 10px;
    padding: 5px 10px;
}

ul.manage a {
    font-family: Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    margin-right: 10px;
}

.actions a {
    background-color: rgba(42, 143, 221, 0.5);
    color: #fff;
    display: inline-block;
    margin: 0 2px;
    padding: 6px 3px 3px;
    font-size: 22px;
    height: 20px;
    text-align: center;
    text-shadow: #39739c -1px -1px 0;
    width: 25px;
}

.actions a:hover {
    background-color: rgba(42, 143, 221, 1.0);
}

.hidden, .pagination a.hidden {
    display: none;
}

#footer {
    background-color: rgba(3, 3, 3, 0.5);
    bottom: 0;
    box-shadow: inset #111 2px 0 3px;
    position: fixed;
    width: 100%;
}

.footer-inner {
    padding: 15px;
}

#footer a {
    color: #aaa;
    display: inline-block;
    font-size: 18px;
    margin-right: 10px;
    opacity: 0.3;
}

#footer:hover a {
    opacity: 1.0;
}

#logo {
    background-image: url('../images/meatspace.svg');
    background-repeat: no-repeat;
    display: block;
    float: left;
    height: 40px;
    margin: 5px 0 0 20px;
    width: 40px;
}

#logo:hover {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transition: 0.5s;
    -webkit-transition: 0.5s;
}

.pagination {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    margin-top: 15px;
    width: 100%;
}

.pagination a {
    background-color: rgba(32, 32, 32, 0.6);
    color: #eee;
    display: inline-block;
    font-size: 40px;
    font-weight: 600;
    padding: 8px 15px;
}

.pagination .prev {
    float: left;
}

.pagination .next {
    float: right;
}

.cancel {
    color: #eee;
    display: inline-block;
    float: left;
    font-size: 25px;
    margin-top: 20px;
}

.created {
    clear: both;
    font-size: 25px;
    line-height: 30px;
}

@media only screen and (max-width: 800px) {
    .inner-container, .content-container {
        height: 66%;
        overflow: hidden;
        width: 100%;
    }

    p {
        padding: 5px 20px;
    }

    .created {
        padding: 0 20px;
    }
}

@media only screen and (max-width: 616px) {
    form {
        margin-top: 10px;
    }

    .form h1 {
        margin: 60px 0 0;
        text-align: center;
    }

    .messages {
        margin-top: 10px;
    }
}

@media only screen and (max-width: 330px) {
    form {
        width: 300px;
    }
}
